body,html {
    height: 100%;
    width: 100%;  
    margin: 0; 
}

.navbar {
    background: black; 
}
.navbar-brand {
    color:white;
}
 
.navbar-brand:hover {
    color:white; 
}
 
.navbar-nav a {
    color:white; 
}
 
.navbar-nav a:hover {
    color:grey; 
}

#cover-page {
    background-image: url('images/android_bg.jpg'); 
    background-attachment: fixed;  
    background-size: cover; 
    width: 100%; 
    height: 100%; 
}

#cover-title {
    text-align: center; 
    padding: 300px;
    font-size: 50px; 
    color: white; 
}

.about-title {
    color:#3369e8; 
    margin-top: 50px; 
    margin-left: 350px;  
    margin-right: auto; 
    
}

.about-text {  
    margin-left: 300px;
    margin-right: 300px;  
    text-align: center; 
}

#about-carousel { 
    height: 600px; 
}

.carousel.slide {
    position: relative;
    width: 600px;
    height: 600px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 50px;
    margin-bottom: -200px; 
}

#about-btn {
    text-align: center;
}

#more-container {
    margin-top: 10px;
    text-align: center; 
}

#projects {
    height: 1350px; 
    background-color: #ebeef2; 
}

.project-layout {
    display: grid; 
    grid-gap: 100px; 
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem; 
}

#proj-title {
    color: #d50f25; 
    margin-top: 50px; 
    margin-left: 300px;
    margin-right: 300px;  
}

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    background-color: black;
    color: white;
    text-align: center;
 }